.backgroundColor{
    background-image: linear-gradient(rgb(0, 216, 235), rgb(0, 83, 184));
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;    
}

.pkdxBackground{
    background-color: #e70f0be2;
    width: 700px;
    height: 500px;
    margin-top: 80px;
    border: solid black 2px;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pkdxTemplateLeft{
    background-color: #E70D0B;
    width: 345px;
    height: 490px;
    border: solid black 2px;
    border-radius: 2%;
}

.pkdxTemplateRight{
    background-color: #E70D0B;
    width: 345px;
    height: 490px;
    border: solid black 2px;
    border-radius: 2%;
}

.buttonsTop{
    display: flex;
    align-items: center;    
}

.circleButtonWhite{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

.circleButtonBlue{
    background-image: linear-gradient(rgb(0, 216, 235), rgb(0, 83, 184));
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: solid black 1px;
}

.buttonRed{
    background-color: rgb(156, 0, 0);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 20px;
}

.buttonGreen{
    background-color: green;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 8px;
}

.buttonYellow{
    background-color: yellow;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: solid black 1px;
    margin-top: 10px;
    margin-left: 8px;
}

.pokemonSearch{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.buttonSearch{
    margin-left: 5px;
    color: red;
    background-color: white;
    border-radius: 20%;
    margin-left: 8px;
}

.buttonRotatePokemon{
    color: red;
    background-color: white;
    border-radius: 20%;
    margin-left: 5px;
}

.inputPokedex{    
    width: 210px;
    font-family: "Press Start 2P";

}

.screenLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.pokemonView{
    background-color: #598130;
    width: 290px;
    height: 180px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: solid 1px black;
}

.textAndScreen{
    display: flex;
    justify-content: space-between;
}

.fixText{
    color: rgb(248, 248, 248);
    font-size: 12pt;
    font-family: "Bungee";
    margin-left: 28px;
    margin-top: 20px;
    
}

.miniScreen{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 25px;
    background-color: #598130;
    width: 200px;
    height: 30px;
    border: solid 1px black; 
    font-family: "Press Start 2P";
    font-size: 9pt;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.headerRight{
    margin-top: 20px;
    display: flex;
}

.screenRight{
    background-color: #598130;
    border: solid black 1px;
    height: 140px;
    width: 180px;
    margin-left: 25px;
}

.textStats{
    font-family: "Press Start 2P";
    font-size: 6pt;    
    margin-left: 15px;
    margin-top: 7px;
}

.decoration1{
    background-image: linear-gradient(to top, rgb(0, 216, 235), rgb(0, 83, 184));
    border: solid 2px white;
    border-radius: 10%;
    width: 100px;
    height: 140px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}